body {
	padding: 15px;
}
.save {
	margin-left: 5px;
}
.container {
	width:700px;
	height:700px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	background:linear-gradient(#465, #475);
    box-shadow:0px 4px 12px rgba(0, 0, 0, 0.5);'
}

.memberlist {
	width: 250px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	backgroundx(#465, #475);
    box-shadow:0px 4px 12px rgba(0, 0, 0, 0.5);'
}

.product {
	width:100px;
	height:100px;
	border-radius: 100px;
	background-position: center center;
	background-size: 100px;
	float: left;
	margin-right: 10px;
}

.photo_img {
	display:block;
	max-width:100px;
	max-height:100px;
	border-radius:50%;
	border-radius: 100px;
	background-position: center center;
	background-size: 100px;
}

. product span {
	/* display: none; */
	width:100px;
	height:100px;
	border-radius: 100px;
	background-color: rgba(0, 0, 0, 0.1); 
	text-align: center;
	font-size: 40px;
/* 	padding-top: 20px;
	box-sizing: border-box;
	color:#FFFFFF;
	cursor:all-scroll; */
} 

.product:hover span {
	display:block;
} 

.favourites {
	overflow: hidden;
	width:100px;
	height:100px;
	border-radius: 100px;
	border:2px solid rgba(149, 165, 166,0.3);
	text-align: center;
	float: left;
}	

.favourites span {
	display: block;
	width:100px;
	height:100px;
	border-radius: 100px;
	font-size: 40px;
	padding-top: 18px;
	box-sizing: border-box;
	color:rgba(149, 165, 166,0.3);
}	

.favourites span:nth-child(2) {
	padding-top: 28px;
}
 */
.favourites-container {
	float: left;
	margin-left: 10px;
}

.favourites-container span {
	display: block;
	width:30px;
	height:30px;
	border-radius: 30px;
	background-size: 30px;
	margin-bottom: 5px;
}

.highlight {
	border:2px dashed rgba(149, 165, 166,0.3);
}

.highlight span:nth-child(1) {
	display: none;
}
/* 
.record-foo {
	background-image: url(http://ecx.images-amazon.com/images/I/51eCZAq37qL.jpg);
}

.record-swift {
	background-image: url(http://ecx.images-amazon.com/images/I/717DWgRftmL._SL1400_.jpg);
}

.record-sheeran {
	background-image: url(http://ecx.images-amazon.com/images/I/91Fu9FD9fYL._SL1425_.jpg);
} */
